DB_URL=jdbc:postgresql://localhost:5432/movies_db
DB_USERNAME=postgres
DB_PASSWORD=your_db_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

JWKS_URI=http://localhost:8081/.well-known/jwks.json

TICKETS_SERVICE_URL=http://localhost:8085
USERS_SERVICE_URL=http://localhost:8082
